//body.scss 
.mainContent {
    flex: 1;
    padding: 2rem;
    overflow: auto;

    .bottom {
        margin-top: 2rem;
        gap: 2rem;
        align-items: flex-start;
        display: flex; /* Añadido */
        flex-direction: column; /* O ajustar según el diseño */
    }
}
